.form-setup {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: space-between;
}

.img-position {
    transform: translate(55px, 0px);;
}

.img-position2 {
    position: absolute;
    transform: translate(235px, 15px);;
}

.border-wrap {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    min-height: 650px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}

.pfx-1 {
    padding-left: 8px;
    padding-right: 8px;
}

.pfx-2 {
    padding-left: 16px;
    padding-right: 16px;
}

.pfx-3 {
    padding-left: 64px;
    padding-right: 64px;
}

.pfy-1 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.pfy-2 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.pfy-3 {
    padding-top: 32px;
    padding-bottom: 32px;
}
