/* You should probably replace this with your own CSS */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
    border-top: 0px;
    --bs-navbar-padding-y: 0;
    height: 90px;
}

svg {
    color: #4CB8AE;
}

a {
    color: #33958C !important;
    transition: 0.3s;
}

a:hover {
    color: #6BCAC1 !important;
}

.menubar {
    height: 60px;
    background-color: rgba(63, 140, 228, 0.5);
    border-color: green;
    border-style: solid;
    border-left: none;
    border-right: none;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    line-height: 24px;
}

.icon-globe {
    line-height: 10px;
    padding-left: 16px;
    padding-right: 16px;
}

.icon2 {
    line-height: 10px;
}

.navbar-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

a,
a:visited {
    text-decoration-line: none !important;
    color: blue;
}

a:hover {
    color: red;
    transition: 0.3s;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.box {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: absolute !important;
    background-color: white;
    border-color: rgba(0, 0, 0, 0.4);
    border-style: solid;
    border-width: 0 1px 1px;
    border-radius: 4px;
    top: 2px;
    transform: translate(-90px, 67px) !important;
    width: 13.5rem !important;
    height: auto !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
    z-index: 999;
}

.box2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: absolute;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 0 1px 1px;
    transform: translate(0px, 2px);
    right: 0.85%;
    width: 5rem;
    height: auto;
    box-shadow: 6px 6px 6px -6px;
}

.box-items {
    font-size: 14px;
    border-top: 1px solid #ddd;
    padding: 1px;
}

.box-items2 {
    font-size: 14px;
    border-top: 3px solid #ddd;
}

.box-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box-items:first-of-type {
    border-top: none;
}

.box-items:hover {
    background-color: #dfdfdf;
    transition: 0.3s;
}

.box-items2:hover {
    background-color: #dfdfdf;
    transition: 0.3s;
}

.page-wrapper1 {
    height: calc(100vh - 166px);
    min-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.page-wrapper2 {
    height: calc(100vh - 166px);
    position: relative;
    display: flex;
    flex-direction: column;
}

.page-wrapper3 {
    position: relative;
    display: flex;
    flex-direction: column;
}

.workspace {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex: 1;
    flex-grow: 1;
    height: 100%;
}

.events-wrapper {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 64px;
    background-image: linear-gradient(to bottom, #fafafa, #fff);
}

.events-wrapper2 {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.events-actions {
    display: flex;
    height: 100%;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 16px;
}

.gallery-2 {
    display: flex;
    flex-direction: row;
    height: 25%;
    justify-content: space-evenly;
    align-items: stretch;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
    min-height: 150px;
    min-width: 1200px;
    background-color: white;
}

.gallery-3 {
    display: flex;
    flex-direction: row;
    height: 25%;
    justify-content: space-evenly;
    align-items: stretch;
    min-height: 150px;
}

.gallery-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.image-box-gallery {
    height: 100%;
    width: 100%;
}

.bottom-bar1 {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 25%;
    justify-content: center;
    align-items: center;
}

.image-box {
    display: block;
    object-fit: cover;
    max-height: 425px;
    min-height: 425px;
    width: 100%;
    height: 100%;
}

img {
    aspect-ratio: auto;
}

.trip-2 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 450px;
    min-width: 1200px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
    background-color: white;
}

.trip-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.trip-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.trip-items2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.trip-listings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 24px;
}

.left-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    height: auto;
}

.right-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    max-height: 425px;
    height: 100%;
    width: 35%;
}

.right-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 8px;
}

button {
    border-radius: 8px !important;
}

.center-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 3px -2px, rgba(0, 0, 0, 0.09) 0px 3px 4px 0px, rgba(0, 0, 0, 0.08) 0px 1px 8px 0px;
    border-radius: 4px;
    background-color: #6BCAC165;
    padding-top: 40px;
    padding-bottom: 40px;
    transition: 0.3s;
}

.center-box:hover {
    background-color: #33958C60;
}

.right-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
}

.right-bottom {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.right-details {
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 16px;
}

.right-details2 {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 64px;
    padding-left: 64px;
}

.right-details3 {
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8px;
}


.sidebar-2 {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    min-height: 600px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
    background-color: white;
}

.sidebar-3 {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    border: 1px solid black;
    border-radius: 8px;
    min-height: 600px;
    justify-content: center;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #88888850;
    height: 20%;
}

.sidebar-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 65%
}

.sidebar-middle2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%
}

.sidebar-bottom {
    display: flex;
    flex-direction: column;
    /* border-top: 1px solid black; */
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    height: 15%;
}

.next-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* border-bottom: 1px solid black; */
    font-size: 20px;
    /* padding-top: 20px; */
    /* padding-bottom: 32px; */
}

.next-up2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* border-top: 1px solid black; */
    /* padding-top: 28px; */
    /* padding-bottom: 20px; */
    padding-right: 120px;
    padding-left: 120px;
}

.next-up3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* border: 1px solid black;
    border-radius: 8px; */
    overflow: hidden;
    /* padding-top: 16px; */
    /* padding-bottom: 16px; */
    padding-right: 25px;
    padding-left: 25px;
}

.sidebar-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.test {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.test2 {
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.test3 {
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.custom-button {
    background-color: #ccffee20;
    border: 1px solid rgba(20, 100, 50, 0.5);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
    transition: 0.3s;
}

.custom-button:hover {
    background-color: #aaddcc70;
    transition: 0.3s;
}

.custom-button a {
    color: rgba(20, 100, 50, 1);
}

.fitted-box {
    height: 90%;
}

.divider {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.divider-left {
    border-left: 1px solid black;
}

.divider-right {
    border-right: 1px solid black;
}

.divider-2 {
    display: flex;
    border-left: 1px solid black;
    border-right: 1px solid black;
    justify-content: stretch;
    align-self: center;
}

.sidebar-top-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 20%;
}

.top-text {
    font-weight: 500;
    font-size: 16px;
    padding-left: 8px;
}

.bottom-text {
    font-weight: 300;
    font-size: 12px;
    padding-left: 8px;
    display: flex;
    justify-content: center;
}

.sidebar-bottom-box {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    height: 70%;
    width: 90%;
}

.top-text2 {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    padding-left: 8px;
}

.bottom-text2 {
    height: 90%;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    bottom: 0;
    border-top: 1px;
    border-bottom: 0px;
    width: 100%;
}

.footer-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.footer-text {
    font-weight: 500;
}

.ps-1 {
    padding: 4px;

}

.psx-1 {
    padding-left: 2px;
    padding-right: 2px;
}

.p-1 {
    padding: 8px;
}

.p-2 {
    padding: 16px;
}

.p-4 {
    padding: 40px;
}

.pl-1 {
    padding-left: 8px;
}

.pl-2 {
    padding-left: 16px;
}

.pl-3 {
    padding-left: 32px;
}

.pr-1 {
    padding-right: 8px;
}

.pr-2 {
    padding-right: 16px;
}

.pb-1 {
    padding-bottom: 8px;
}

.pb-2 {
    padding-bottom: 16px;
}

.pt-1 {
    padding-top: 8px;
}

.pt-2 {
    padding-top: 16px;
}

.px-1 {
    padding-left: 8px;
    padding-right: 8px;
}

.px-2 {
    padding-left: 16px;
    padding-right: 16px;
}

.py-1 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.py-2 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.py-3 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 8px;
}

.px-3 {
    padding-right: 24px;
    padding-left: 24px;
}

.ipx-1 {
    padding-right: 10px;
    padding-left: 10px;
}

.ipx-2 {
    padding-top: 18px;
}

.dpy-1 {
    padding-top: 19px;
    padding-bottom: 19px;
}

.pfx-1 {
    padding-left: 8px;
    padding-right: 8px;
}

.pfx-2 {
    padding-left: 16px;
    padding-right: 16px;
}

.pfx-3 {
    padding-left: 64px;
    padding-right: 64px;
}

.pfy-1 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.pfy-2 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.pfy-3 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.pft-1 {
    padding-top: 8px;
}

.pft-2 {
    padding-top: 16px;
}

.pft-3 {
    padding-top: 32px;
}
