/* General Styles */
/* .vh-100 {
    height: 100vh;
} */

.container {
    /* max-width: 1140px; */
    /* margin: auto; */
    min-height: 100%;
    padding: 0 15px;
}

.py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.h-100 {
    height: 100%;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.card {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.g-0 > * {
    padding-right: 0;
    padding-left: 0;
}

.col-xl-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.d-none {
    display: none !important;
}

.d-md-block {
    display: block !important;
}

.img-fluid {
    width: 100%;
    border-radius: 1rem 0 0 1rem;
}

.logo-fluid {
    width: 110px;
    height: 110px;
    height: auto;
    border-radius: 1rem 0 0 1rem;
}

.card-body {
    padding: 0 1rem;
    color: #000;
}

.mb-3 {
    margin-bottom: 1rem;
}

.pb-1 {
    padding-bottom: 0.25rem;
}

.fa-cubes {
    margin-right: 0.75rem;
    color: #ff6219;
}

.h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.fw-normal {
    font-weight: normal;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

/* Form Styles */
.form-outline {
    position: relative;
    margin-bottom: 1.2rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.15rem;
    transition: all 0.3s ease-in-out;
}

.form-control-lg {
    padding: 0.75rem 1.25rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}

.form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* .form-control:focus-within + .form-label */
.form-control:not(:placeholder-shown) + .form-label {
    transform: translateY(-2rem);
    font-size: 0.875rem;
    color: #495057;
}

.form-label {
    transform: translateY(0);
    position: absolute;
    top: 0.75rem;
    left: 0.25rem;
    /* bottom: 0; */
    transition: transform 0.3s ease-in-out;
    pointer-events: none;
}

.form-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: revert;
}

.pt-1 {
    padding-top: 0.25rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.me-2 {
    margin-right: 0.5rem;
}

/* Button Styles */
.btn {
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-green {
    color: #fff;
    background-color: forestgreen;
    border-color: #6c757d;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-lg {
    padding: 0.75rem 2.7rem;
    font-size: 1.1rem;
    border-radius: 0.3rem;
}

.btn-block {
    width: auto;
    flex: 1;
}

.text-muted {
    color: #6c757d !important;
}

#borderShadow {
    border: 1px solid;
    padding: 10px;
    box-shadow: 8px 10px #888888;
}
