.list-setup {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.trip-wrapper {
    display: flex;
    flex-direction: column;
}

.page-wrapper2 {
    display: flex;
    flex-direction: column;
}

ul {
    margin: 0;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
}

tbody {
    text-align: start;
  }

td:nth-child(1), td:nth-child(2) {
    width: 10%;
}

td:nth-child(3) {
    width: 30%;
}

td:nth-child(4) {
    width: 20%;
}

td:nth-child(5), td:nth-child(6), td:nth-child(7) {
    width: 10%;
}

.button-align {
    display: flex;
    flex-direction: row;
}

.pfx-1 {
    padding-left: 8px;
    padding-right: 8px;
}

.pfx-2 {
    padding-left: 16px;
    padding-right: 16px;
}

.pfx-3 {
    padding-left: 32px;
    padding-right: 32px;
}

.pfy-1 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.pfy-2 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.pfy-3 {
    padding-top: 32px;
    padding-bottom: 32px;
}
