/* You should probably replace this with your own CSS */
.main-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    min-height: 100svh;
    min-width: 100svw;
    position: relative;
}

