.footer-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
}

footer {
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    margin-bottom: 0;
    z-index: 1;
    background-color: white;
}

hr {
    margin: 0 !important;

}

.footer-social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-social-media__icon {
    margin: 0px 4px;
    width: 25px;
    height: 25px;
}

.footer-info {
    display: flex;
    justify-content: space-evenly;
}

.footer-info-left,
.footer-info-center,
.footer-info-right {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
}

.footer-info-left {
    justify-content: center;
    align-items: flex-start;
}

.footer-info-right {
    justify-content: end;
    align-items: center;
    flex-direction: revert;
    gap: 16px;
}

.footer-info__name,
.footer-info__returns {
    text-align: start;
}

.footer-info__email,
.footer-info__terms {
    text-align: center;
}

.footer-info__terms {
    line-height: 25px;
}

.footer-info__number,
.footer-info__contact {
    text-align: end;
}

.footer-date {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-separator {
    flex-grow: 0 !important;
    width: 100%;
}

.footer-name {
    display: flex;
    justify-content: center;
}

.footer-bottom__name {
    text-transform: uppercase;
    font-family: RobotoBold;
    font-size: large;
}
